/*

Table of content:

1.ASIDE
  1.1 Logo
  1.2 Nav Bar
  1.3 Playlist

2.MAIN SECTION (sezione principale)
  2.1 Sezione CTA (fixed)

  2.2 Sezione contenuti
    2.2.1 Ascoltati di recente
    2.2.2 Creati per te
    2.2.3 Artisti popolari

3.FOOTER
  3.1 Player left
  3.2 Player center
  3.3 Player right

*/




/*
1.ASIDE
*/

Aside{
  background-color: black;
  height: calc(100vh - 75px);
}


/* 1.1 Logo */




/* 1.2 Nav Bar */




/* 1.3 Platlist */




/*
2.MAIN SECTION (sezione principale)
*/

.main-section{
  background-color: #141923;
  height: calc(100vh - 75px);
}


/* 2.1 Sezione CTA (fixed) */




/* 2.2 Sezione contenuti */




  /* 2.2.1 Ascoltati di recente */




  /* 2.2.2 Creati per te */





  /* 2.2.3 Artisti popolari */










/*
3.FOOTER
*/

footer{
  height: 75px;

  background-color: #282828;

  z-index: 9999;
}



/* 3.1 Player left */




/* 3.2 Player center */




/* 3.3 Player right */